*{
    margin: 0;
    padding: 0;
}


.container1 {
    width: 100vw;
    height: 80vh;
    background-image: linear-gradient(rgba(38,54,141,0.8), rgba(38,54,141,0.8)), url("image1.jpg");
    background-size: 100% 100%;
}

.content {
    padding-top: 20%;
    width: 300px;
    height: 100%;
    margin: 0 auto;
    color: white;
    text-align: center;
}

.butonat {
    display: flex;
    flex-direction: row;
    margin-top: 15px;
}
.butoni1{
    width: 50%;
    text-align: right;
    padding-right: 10px;
}

.butoni2{
    width: 50%;
    text-align: left;
    padding-left: 10px;
}
button{
    border-radius: 30px;
    border: none;
    width: 90px;
    height: 30px;
    color: white;
    font-size: 12px;
}

.teksti{
    font-size: 12px;
}

.container2{
    width: 100vw;
    height: 100vh;
}

.upper{
    display: flex;
    flex-direction: column;
    height: 70%;
    background-color: white;
}

.uppertext{
    height: 40%;
    text-align: center;
    font-size: 25px;
}

.uppermenu{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 60%;
}

.menu1 {
    flex-basis: 250px;
    height: 180px;
    margin: 10px;
    text-align: center;
}

.menu1:hover {
    border: 1px solid black;
    border-radius: 40px;
}

.menu2 {    
    flex-basis: 250px;
    height: 180px;
    margin: 10px;
    text-align: center;
}
.menu2:hover {
    border: 1px solid black;
    border-radius: 40px;
}

.menu3{
    flex-basis: 250px;
    height: 180px;
    margin: 10px;
    text-align: center;
    padding-top: 5px;
}

.menu3:hover {
    border: 1px solid black;
    border-radius: 40px;
}

.bottom {
    height: 30%;
    background-color: blue;
    background-image: linear-gradient(rgba(38,54,141,0.8), rgba(38,54,141,0.8)), url("image1.jpg");
    background-repeat: no-repeat;
    background-size: 100%;   
}

.bottomicon {
    height: 30%;
}

.bottomtext {
    height: 70%;
    text-align: center;
    color: white;
}

.thirdcontainer {
    width: 100vw;
    height: 100vh;
}

.upperthird {
    height: 40%;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
}

.firstitem{
    flex-basis: 250px;
    height: 200px;
    margin: 10px;
    text-align: center;
    padding-top: 5%;
}

.seconditem {
    flex-basis: 250px;
    height: 200px;
    margin: 10px;
    text-align: center;
    padding-top: 5%;
}

.thirditem {
    flex-basis: 250px;
    height: 200px;
    margin: 10px;
    text-align: center;
    padding-top: 5%;
}

.fourthitem {
    flex-basis: 250px;
    height: 200px;
    margin: 10px;
    text-align: center;
    padding-top: 5%;
}

.bottomthird {
    height: 60%;
    background-color: #f7f7f8;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.bottomfirst {
    flex-basis: 20%;
    height: 75%;
    margin: 40px;

}

.bottomsecond {
    flex-basis: 20%;
    height: 75%;
    margin: 40px;
}

ul {
    padding-top: 40px;
    padding-left: 17px;
}

li {
    color: gray;
}
.learnbutton {
    width: 110px;
    background-color: #7668f8;
}

.fourthcontainer {
    width: 100vw;
    height: 100vh;
}

.upperfourth {
    height: 50%;

}

.upperfourthtext {
    height: 30%;
    text-align: center;
    padding-top: 3%;
}

.upperhumans {
    height: 70%;
    display: flex;
    flex-direction: row;
    justify-content: center;
} 

.human1{
    flex-basis: 15%;
    height: 70%;
    text-align: center;
}
.human2{
    flex-basis: 15%;
    height: 70%;
    text-align: center;
}
.human3{
    flex-basis: 15%;
    height: 70%;
    text-align: center;
}
.human4{
    flex-basis: 15%;
    height: 70%;
    text-align: center;
}

i {
    color: #3043af;
}

.bottomfourth {
    height: 50%;
    background-color: lightblue;
    display: flex;
    flex-direction: row;
    justify-content: center;

    background-image: linear-gradient(rgba(38,54,141,0.8), rgba(38,54,141,0.8)), url("photo.jpg");
    background-repeat: no-repeat;
    background-size: 100%;   
}

.bottomleft {
    flex-basis: 25%;
    height: 80%;
    margin-top: 5%;
    text-align: center;
}

.bottomright {
    flex-basis: 30%;
    height: 90%;
    text-align: center;
    margin-top: 2%;
}

.grafi1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 70%;
    margin: 0 auto;
    padding-top: 30px;
    color: white;
    font-size: 14px;
}

.shape {
    border: 2px solid darkblue;
    width: 70%;
    margin: 0 auto;
    height: 10px;
    display: flex;
    flex-direction: row;
}
.ngjyra1{
    width: 30%;
    background-color: darkblue;
}

.ngjyra2{
    width: 70%;
    background-color: white;
}

.ngjyra3 {
    width: 20%;
    background-color: darkblue;
}

.ngjyra4{
    width: 80%;
    background-color: white;
}

.ngjyra5{
    width: 50%;
    background-color: darkblue;
}
.ngjyra6{
    width: 50%;
    background-color: white;
}

.lart {
    height: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.lartLeft {
    width: 50%;
    margin-right: 10px;
}
.lartRight {
    width: 50%;
}
.lartLart {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.mes {
    padding-top: 7%;
    padding-left: 10px;
    color: white;
    text-align: left;
}

.posht {
    height: 50%;
    display: flex;
    flex-direction: row;
}

.poshtmajte {
    width: 50%;
    margin-right: 10px;
}

.poshtdjathte{
    width: 50%;
}
footer{
    text-align: center;
    width: 100%;
    position: fixed;
    bottom: 0;
    padding-bottom: 10px;
    color: white;
}
a {
    color: white;
}

a:hover {
    color: black;
}